.Header{
    position: relative;
    background-color: rgb(88, 226, 254);
    height: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Filters{
    position: absolute;
    top: 10px;
    right: 3px;
    
}
.Mode{
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: black;
    color: white;
    width: 5rem;
    border-radius: 10%;
    height: 2rem;
    font-size: 1.5rem;
}
.Mode:hover{
    opacity: 0.7;
}