.Main{
    position: relative;
    height: 22rem;
    background-color: aliceblue;
    padding: 5px;
    
}
.Dolist{
    height : 2rem;
    
}

.DeleteBtn{
    position: absolute;
    right: 1rem;
    background-color: cornflowerblue;
    padding: 3px;
    border-radius: 10%;
    
}
.DeleteBtn:hover{
    opacity: 0.8;
}
.conpletedBtn{
    position: absolute;
    right: 3.5rem;
    background-color: cornflowerblue;
    padding: 3px;
    border-radius: 10%;
}
.conpletedBtn:hover{
    opacity: 0.8;
}
.saveBtn{
    position: absolute;
    bottom: 3px;
    left: 10rem;
}