.Main{
    position: relative;
    height: 23rem;
    background: rgb(254,254,254);
    background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(245,229,229,0.8239670868347339) 42%, rgba(48,167,191,1) 100%); 
    padding: 5px;
    
}
.Dolist{
    height : 2rem;
    
}

.DeleteBtn{
    position: absolute;
    right: 1rem;
    background-color: cornflowerblue;
    padding: 3px;
    border-radius: 10%;
    font-weight: bolder;
}
.DeleteBtn:hover{
    opacity: 0.8;
}
.conpletedBtn{
    position: absolute;
    right: 3.5rem;
    background-color: cornflowerblue;
    padding: 3px;
    border-radius: 10%;
    font-weight: bolder;
}
.conpletedBtn:hover{
    opacity: 0.8;
}
.saveBtn{
    position: absolute;
    bottom: 3px;
    left: 10rem;
}
.title{
    width: 25rem;
    position: absolute;
    top: 15rem;
    left: 6rem;
    font-size: 2.5rem;
    opacity: 0.3;
}